body {
 margin: 0;
 padding: 0;
 text-align: center;
 min-width: 800px;
 background-color: #FFFFFF;
 color: #000000;
 background-image: url(images/gradient.png);
 background-repeat: repeat-x;
 background-attachment: fixed;
 font-family: Tahoma, Helvetica, Verdana, sans-serif;
 font-size: 10pt;
}

/* linky stuff, nicked it off the FF website -- cheers FB! */
A:link, A:visited { text-decoration: underline; color: #666633; }
A:hover { text-decoration: underline; color: #57646F; background-color: #EDF5FA; }

/* Encompasses the layout to keep everything in the right place */
#wrapper {
 text-align: left;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 8px;
 background-color: #F8FDDD;
 padding: 0;
 
 border: 1px solid #000000;
 border-top: 0;
} 

/* Separator boxes used for navigation & subsections */
.separator
{
 text-align: left;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 background-color: #000000;
 color: #FFFFFF;
 padding: 0px 0px 5px 0px; 
}

/* FB: IE adds space at the bottom of IMG, let's avoid that! */
#header-image
{
 background: #000 url(images/header.png) no-repeat top center; 
 height: 200px;
 width: 800px;
}

/* header stuff -- used to properly display nav text */
#header-bottom 
{
 margin: 0;
 padding: 5px 0 0 0;
 text-align: left;
 
 /*
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 */
}

#header-bottom a:link, #header-bottom a:visited
{
 text-decoration: none;
 color: #FFFFFF;
}

#header-bottom a:hover
{
 text-decoration: underline;
 color: #FFFFFF;
 background-color: #000000;
}

/* Navigation line -- Shows "jump" text and floats text properly */
#navline
{
 font-weight: bold;
 font-style: italic;
 margin: 0;
 padding: 5px 10px 10px 5px;
 color: #FFFFFF;
}

/* Text that sits in the section separators */
.separatorText
{
 font-weight: bold;
 font-style: normal;
 margin: 0;
 padding: 5px 0px 0px 5px;
 color: #FFFFFF;
}

/* Generic content that follows each separator.  Holds text, lists, images etc. */
.content
{
 padding-top:0px;
 padding-bottom:5px;
 padding-left:15px;
 padding-right:15px; 
}

/* Skill listin' ahoy! */
.genericlist
{
 padding: 0px;
 text-align: left;
}

/* I'm displaying thumbnail images in tables */
.generictable
{
/* uncomment these if changing layout to get visual feedback, dur! */
/* background-color: #FFFFFF;
 border: 1px solid #000000;*/
 margin: 5px auto;
}

/* stop image links getting a crappy border.  Use the same colour here as used for image border! (see below) */
/*
.generictable a:link, .generictable a:visited, .generictable a:hover
{

 text-decoration: none;
 color: rgb(170, 189, 200);
}
*/

/* cell borders & padding etc.*/
.genericCell
{
 padding: 3.5px;
 margin: 0px;
 text-align: center;
}

.genericCell a:hover IMG
{
 border: 5px solid rgb(150, 169, 180);
}

.genericCell a IMG
{
 border: 5px solid rgb(170, 189, 200);
}

/* need this stuff to stop images having borders when used as links */
.genericImage
{
 border: 0px;
}

/* FB: Made header font sizes consistent, used Firefox sizes. */
H2
{
 font-size: 15pt;
}

H3
{
 font-size: 12pt;
}